<div fxLayoutAlign="center center">
    <mat-form-field>
        <input matInput type="text" (keyup)="filter($event.target.value)" placeholder="Filter">
      </mat-form-field>
</div>

<mat-list class="content" fxLayoutAlign="start stretch" fxLayout="column" role="list">
  <mat-list-item *ngFor="let brewery of breweries$ | async; let last = last">
    {{brewery.name}}
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<div class="flex-row">
  <button class="flex-start" (click)="previousPage()" [disabled]="hasPreviousPage()" mat-button color="primary">Previous</button>
  <button class="flex-end" (click)="nextPage()" mat-button color="primary">Next</button>
</div>