.card {
  padding-top: 2em;
  padding-bottom: 2em;
}

:host {
  flex-direction: column;
  display: flex;
  flex: 1 100%;
  align-items: stretch;
  height: 100%;
}

.content {
  overflow: hidden;
  overflow-y: auto;
}