<mat-card *ngIf="(brewery$ | async) as brewery">
  <mat-card-title>{{ brewery?.name | titlecase }}</mat-card-title>
  <mat-card-content class="flex-column">
    <div>
      <b>City:</b> {{ brewery?.city || 'None Specified' | titlecase }}
    </div>
    <div>
      <b>State:</b> {{ brewery?.state || 'None Specified' | titlecase }}
    </div>
    <div>
      <b>Country:</b> {{ brewery?.country || 'None Specified' | titlecase }}
    </div>
    <div>
      <b>Description:</b> {{ brewery?.description || 'None Specified' }}
    </div>
    
  </mat-card-content>
  <!-- turn the beer-collection component into something I can pass params into and reuse then use that HERE! -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Beer List
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <mat-list *ngIf="(beers$ | async) as items" class="content flex-column" role="list">
      <mat-list-item *ngFor="let item of items; let last = last"
        class="d-flex f-1"
      >
        {{item.name}}
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  
  </mat-expansion-panel>

  <mat-card-actions class="flex-row" class="button-row">
    <detail-button-bar></detail-button-bar>
  </mat-card-actions>
</mat-card>
