<mat-card class="d-flex f-1 flex-column" *ngIf="(brewery$ | async) as brewery">
  <mat-card-title>{{ brewery?.name | titlecase }}</mat-card-title>
  <mat-card-content class="flex-column">
    <div>
      <b>City:</b> {{ brewery?.city || 'None Specified' | titlecase }}
    </div>
    <div>
      <b>State:</b> {{ brewery?.state || 'None Specified' | titlecase }}
    </div>
    <div>
      <b>Country:</b> {{ brewery?.country || 'None Specified' | titlecase }}
    </div>
    <div>
      <b>Description:</b> {{ brewery?.description || 'None Specified' }}
    </div>
    
  </mat-card-content>

  <h6 mat-subheader>Beer List</h6>

  <mat-list *ngIf="(beers$ | async) as items" class="content flex-column f-flex f-1" role="list">
    <mat-list-item *ngFor="let item of items; let last = last"
      class="d-flex f-1 selectable"
      (click)=select(item)
    >
      {{item.name}}
      <mat-divider *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-card-actions class="flex-row" class="button-row">
    <detail-button-bar></detail-button-bar>
  </mat-card-actions>
</mat-card>
