<mat-card class="d-flex f-1 flex-column" *ngIf="(item$ | async) as item">
  <mat-card-title>{{ item?.name | titlecase }}</mat-card-title>
  <mat-card-content class="flex-column">
    <div>
      <b>Brewery:</b>
    </div>
    <div>
      <b>ABV:</b> {{ item?.abv || 'None Specified' }}
    </div>
    <div>
      <b>Style:</b> {{ item?.style?.name || 'None Specified' | titlecase }}
    </div>
    <div>
      <b>Category:</b> {{ item?.category?.name || 'None Specified' | titlecase }}
    </div>
    <div>
      <b>Description:</b> {{ item?.description || 'None Specified' }}
    </div>
  </mat-card-content>
  
  <mat-card-actions class="flex-row" class="button-row">
    <detail-button-bar></detail-button-bar>
  </mat-card-actions>
</mat-card>
