<mat-toolbar color="primary">
  <div>
    <button mat-icon-button ngModel>
      <mat-icon (click)="onEmit()">menu</mat-icon>
    </button>
  </div>
  <div class="links">
      <a routerLink="/">Beer Snob</a>
  </div>
  <div class="d-flex" class="links">
    <ul class="flex-row" class="navigation-items" >
      <li *ngFor="let route of routes" >
        <a *ngIf="route.showIfAuthenticated === (isAuthenticated$ | async) || route.dontShowIfAuthenticated === !(isAuthenticated$ | async)" 
           routerLink="{{ route.url }}">{{route.name}}</a>
      </li>
    </ul>
  </div>
</mat-toolbar>