/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "_styleVariables.scss";

html {
  height: 100vh;

  body {
    margin: 0;
    height: 100vh;
  }

  main,
  .brewery-app { 
    height: calc(100vh - 56px);
    overflow-y: none;
  }
}

.flex-fill {
  display: flex;
  flex: 1;
}

.content {
  align-items: stretch;
  display: flex;
  flex: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;

  .flex-start {
    justify-self: flex-start; 
    margin-right: auto;
  }
  
  .flex-end {
    justify-self:flex-end;
  }
}

.mat-list {
  overflow: scroll;
}

.button-row {
  .mr-auto {
    margin-right: auto !important;
  }
  
  .flex-center {
    align-self: center;
    justify-self: center;
    margin: auto !important;
  }
}

.f-1 {
  flex: 1;
}

mat-list-item {
  &.selectable {
    cursor: pointer; 
    &:hover {
      background-color: darken(#fafafa, 10%);
    }
  }
  
  &.f-1 {
    .mat-list-item-content {
      display: flex;
      flex: 1;
    }
  }
}